<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="https://github.com/goh-chunlin?tab=repositories" class="icon fa-github" target="_blank"></a></li>
            <li><a href="https://twitter.com/goh_chunlin" class="icon fa-twitter" target="_blank"></a></li>
            <li><a href="https://www.linkedin.com/in/gohchunlin" class="icon fa-linkedin" target="_blank"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; GCL Project 2020</li>
            <li>Design: <a href="http://templated.co" target="_blank">TEMPLATED</a></li>
            <li>Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></li>
        </ul>
    </div>
</footer>