<!DOCTYPE HTML>
<!--
	Copyright 2020 The Lunar.Music.Web AUTHORS. All rights reserved.
    Use of this source code is governed by a license that can be found in the LICENSE file.
	
	==== About This Web Page Template ====
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Lunar Music</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://lunarmusicwebstatic.blob.core.windows.net/css/main.css" />
</head>

<body class="landing">

	<!-- Header -->
	<header id="header" class="alt">
		<h1><strong><a href="/">Lunar Music</a></strong> by GCL Project</h1>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
			</ul>
		</nav>
	</header>

	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Banner -->
	<section id="banner">
		<h2>Lunar Music</h2>
		<p>{{ .title }}</p>
		<ul class="actions">
			<li><a href="javascript:;" class="button special big" onclick="startLogin();">Login</a></li>
		</ul>
	</section>



	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"></a></li>
				<li><a href="#" class="icon fa-twitter"></a></li>
				<li><a href="#" class="icon fa-instagram"></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled</li>
				<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="https://lunarmusicwebstatic.blob.core.windows.net/javascript/jquery.min.js"></script>
	<script src="https://lunarmusicwebstatic.blob.core.windows.net/javascript/skel.min.js"></script>
	<script src="https://lunarmusicwebstatic.blob.core.windows.net/javascript/util.js"></script>
	<script src="https://lunarmusicwebstatic.blob.core.windows.net/javascript/main.js"></script>
	<script src="https://lunarmusicwebstatic.blob.core.windows.net/javascript/notify.min.js"></script>

	<script>
		function startLogin() {
			$.get("https://lunar-music.azurefd.net/login-url", function (data) {
				window.location = data.url;
			});
		}
	</script>
</body>

</html>