<!DOCTYPE HTML>
<!--
	Copyright 2020 The Lunar.Music.Web AUTHORS. All rights reserved.
    Use of this source code is governed by a license that can be found in the LICENSE file.
	
	==== About This Web Page Template ====
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

{{ template "head.tmpl.html" . }}

<body class="landing">

	<!-- Header -->
	<header id="header" class="alt">
		<h1><strong><a href="/">Lunar Music</a></strong> by GCL Project</h1>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
			</ul>
		</nav>
	</header>

	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Banner -->
	<section id="banner">
		<h2>Lunar Music</h2>
		<p>{{ .title }}</p>
		<ul class="actions">
			<li><a href="javascript:;" class="button special big" onclick="startLogin();">Login</a></li>
		</ul>
	</section>

	{{ template "footer.tmpl.html" . }}

	{{ template "script.tmpl.html" . }}
	
	<script>
		function startLogin() {
			$.get("https://lunar-music.azurefd.net/login-url", function (data) {
				window.location = data.url;
			});
		}
	</script>
</body>

</html>