<!DOCTYPE HTML>
<!--
	Copyright 2020 The Lunar.Music.Web AUTHORS. All rights reserved.
    Use of this source code is governed by a license that can be found in the LICENSE file.
	
	==== About This Web Page Template ====
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

{{ template "head.tmpl.html" . }}

<body>

    <!-- Header -->
    <header id="header">
        <h1><strong><a href="/">Lunar Music</a></strong> by GCL Project</h1>
        <nav id="nav">
            <ul>
                <li><a href="javascript:;" onclick="playAll();">Play All</a></li>
                <li><a href="javascript:;" onclick="startLogout();">Logout</a>
                </li>
            </ul>
        </nav>
    </header>

    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <section id="main" class="wrapper">
        <div class="container">
            <header class="major special">
                <h2>My Music</h2>
                <p>{{ .title }}</p>
            </header>
                
            {{ range .albums }}

                <section>
                    <h4>{{ .Title }}</h4>

                    <div class="row">
                        <div class="2u 12u$(xsmall)">
                            <span class="image"><img src="{{ .ThumbnailURL }}" alt="{{ .Title }}" style="width: 120px;" /></span>
                        </div>
                        <div class="10u$ 12u$(xsmall)">
                            <ol>
                                {{ range .MusicItems }}
                                    <li>{{ .Title }} by {{ .AlbumArtist }} - {{ .DurationDisplay }} <a href="javascript:;" class="icon fa-play-circle" onclick="playSingle('{{ .Id }}');"><span class="label">Play</span></a></li>
                                {{ end }}
                            </ol>
                        </div>
                    </div>
                    
                    
                </section>

                <hr />
                
            {{ end }}
                
        </div>
    </section>
	
	{{ template "footer.tmpl.html" . }}

	{{ template "script.tmpl.html" . }}

    <script>
        function startLogout() {
            if (confirm('Are you sure that you want to logout?')) {
                window.location = '/auth/logout';
            }
        }

		function playAll() {
            $.ajax({
                type: 'POST',
                url: 'https://lunar-music.azurefd.net/send-command-to-raspberrypi',
                data: '{"tasks":[{ "name": "play-all" }]}',
                success: function(data) { 
                    $.notify("Request is successfully submitted.", "success"); 
                },
                error: function(data) { 
                    console.log(data);
                    $.notify("Request cannot be processed. " + data.responseJSON.message, "error"); 
                },
                contentType: "application/json",
                dataType: 'json'
            });
        }

        function playSingle(musicItemId) {
            $.ajax({
                type: 'POST',
                url: 'https://lunar-music.azurefd.net/send-command-to-raspberrypi',
                data: '{"tasks":[{ "name": "play-single", "content": ["' + musicItemId + '"] }]}',
                success: function(data) { 
                    $.notify("Request is successfully submitted.", "success"); 
                },
                error: function(data) { 
                    console.log(data);
                    $.notify("Request cannot be processed. " + data.responseJSON.message, "error"); 
                },
                contentType: "application/json",
                dataType: 'json'
            });
        }
    </script>
</body>

</html>